
.header-banner {
    background: url('https://lh3.googleusercontent.com/d/1RMP1y2QZc-NxyL_cq0yJpNRMC7aahtnV') no-repeat center center;
    background-size: cover;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.organization-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.site-content {
    font-size: 48px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.custom-margin-y {
    margin-top: 4.5rem;
    margin-bottom: 0.5rem;
}

.custom-margin-x {
    margin-left: 6rem;
    margin-right: 6rem;
}

.id-display {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure it sits on top */
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px) {
    .organization-name {
        font-size: 48px;
    }
    .site-content {
        font-size: 64px;
    }
    .btn {
        padding: 15px 30px;
        font-size: 32px;
    }
    .custom-margin-y {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .custom-margin-x {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .id-display {
        font-size: 20px;
    }
}

